.comment-heading,
.heading-respond {
    margin-bottom: 25px;
    text-transform: capitalize;
}
.comment-sction ol {
    list-style: none;
}
.depth-1:not(:first-child) {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid var(--color-border);
}
.comment-uer {
    display: flex;
    flex-direction: row;
}
.user-avarta {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.user-content {
    flex: 1;
}
.user-name {
    margin-bottom: 8px;
}
.user-content .content {
    margin-bottom: 10px;
    color: var(--color-secondary);
}
.comment-metadata {
    margin-bottom: 10px;
}
.comment-metadata,
.comment-metadata .edit-comment,
.reply a{
    color: rgba(34, 34, 34, 0.8);
}
.comment-metadata time {
    margin-right: 10px;
}
.comment-metadata .edit-comment,
.reply a{
    text-decoration: none;
}
.comment-metadata .edit-comment i,
.reply a i{
    margin-right: 6px;
}

.depth-2 {
    margin-left: 95px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--color-border);
}
.depth-2 .user-avarta {
    width: 60px;
    height: 60px;
}
.depth-2 .user-name {
    margin-bottom: 2px;
}
.depth-2 .user-content .content,
.depth-2 .comment-metadata {
    margin-bottom: 7px;
}

.comment-respond {
    margin-top: 30px;
}
.form-respond {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: -20px;
}
.input-group {
    display: flex;
}
.input-group>* {
    width: 50%;
}
.form-respond input[type=text],
.form-respond input[type=email],
.message-text textarea,
.form-submit input[type=submit] {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    background-color: #FAFBFC;
    border: 1px solid var(--color-border);
    transition: all 0.3s;
    color: var(--color-secondary);
}
.form-respond input::placeholder,
.message-text textarea::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: var(--color-secondary);
}
.form-respond input[type=text],
.form-respond input[type=email],
.message-text textarea {
    padding: 15px 18px;
    width: 100%;
    border-radius: 5px;
}
.form-respond .form-email {
    padding-right: 15px;
}
.form-respond .form-name {
    padding-left: 15px;
}
.form-respond .input-group {
    display: flex;
    flex-wrap: wrap;
}
.form-respond>* {
    width: 100%;
    padding: 20px;
}
.form-respond input[type=text]:active,
.form-respond input[type=email]:active,
.message-text textarea:active,
.form-respond input[type=text]:focus,
.form-respond input[type=email]:focus,
.message-text textarea:focus {
    background-color: var(--color-white);
    box-shadow: 1px 1px 5px 0px var(--color-secondary);
    border: 1px solid var(--color-border);
    outline: none;

}
.form-submit input[type=submit] {
    width: fit-content;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.form-submit input[type=submit]:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
}
@media (max-width:767px) {
    .user-avarta {
        width: 60px;
        height: 60px;
    }
    .depth-2 .user-avarta {
        width: 50px;
        height: 50px;
    }
    .depth-2 {
        margin-left: 75px;
    }
    .input-group>* {
        width: 100%;
    }
    .form-respond .form-email {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .form-respond .form-name {
        padding-left: 0;
    }
    .form-respond {
        margin: -10px;
    }
    .form-respond>* {
        padding: 10px;
    }
}
